<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />

  <title>Progressive web apps</title>
  <meta name="description" content="PWA" />
  <meta name="author" content="Rooyyke" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/css/stylesheet.css" type="text/css" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
  <link rel="manifest" href="/manifest.json">

</head>

<body>
  <main>
    {{{body}}}
  </main>
</body>

<script src="/js/swRegister.js"></script>

</html>