<%- include ('../views/partials/head.ejs') %>

<ul genre-list>
  <% genres.results.forEach(genre => { %>
  <li>
    <a href="/genres/<%= genre.slug %>">
      <p><%= genre.name %></p>
    </a>
  </li>
  <% }) %>
</ul>

<%- include ('../views/partials/footer.ejs') %>