{{> header}}

<div class="offline_mode">
    <img src="/images/flash.png" alt="offline_mode">

    <h2>You are currently offline</h2>

    <p>We can't show you this page because you aren't connected to the internet.
        When you're back online refresh the page or hit the button below</p>

    <a href="/">Refresh</a>
</div>